<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ordr_no %>
    <%= form.text_field :order_no, id: :order_oerder_no, value: @ref_token, disabled: true %>
  </div>

  <div>
  <%= form.fields_for :food_item do |food| %>
    <%= food.label :select_food_item %>
    <%=food.select :name, options_for_select(FoodItem.all.pluck(:name))%>
  </div>
  <% end %>
  <div>
  <%= form.fields_for :order_item do |item| %>
   <%=item.label :select_quantity %> 
   <%=item.select :item_quantity, options_for_select([1,2,3,4,5])%>
  </div>
  <% end %>
    <div class="actions">
    <%= form.submit("Place order") %>
  </div>
<% end %>
