<h1>Bill_receipt</h1>
<p>
Order_no/Ref_no
<%= @order_no %>
</p>
<p>
User Email
<br/>
<%= @email %>
</p>
<p>
Time Slot
<br/>
<%= @time_slot %>
</p>
<p>
Time order Placed
<br/>
<%= @time %>
</p>
<p>
Food Item
<br/>
<%= @item %>
</p>
<p>
Quantity
<br/> 
<%= @quantity %>
</p>
<p>
Amount
<br/>
<%= @amount %>
</p>
<p>
Payment Method
<br/>
<%= @payment %>
</p>
<p>

